<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<html>
    <div>
        <h1>Forbidden</h1>
        <p>You are not authorized to view this page.</p>
    </div>
</html>
<%- include('partials/footer') -%>
