<%- include('partials/header') -%>
<div class="splash">
  <div id="error"></div>
  <div class="wrapper">
    <div class="logo-column">
      <img class="logo" src="https://cdn.discordapp.com/attachments/756704090532348054/987579518086697050/b4c29b4d2f289f511a7a089cad9f6d0d.png" alt="exis Logo" />
    </div>
    <div class="info-column">
      <h1>Exis</h1>
      <div class="description">
        Exis is a private moderation bot for Discord, designed with large servers and reliability in mind.
      </div>
      <div class="actions">
        <a class="btn" href="/auth">Dashboard</a>
        <a class="btn" href="/docs">Documentation</a>
      </div>
      <ul class="links">
        <li>
          <a href="https://github.com/Dragory/ZeppelinBot">GitHub</a>
        </li>
        <li>
          <a href="https://discord.com/invite/w8njuNu">Discord</a>
        </li>
        <li>
          <a href="https://www.patreon.com/zeppelinbot">Patreon</a>
        </li>
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>