<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1>Exis</h1>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="http://localhost:53134">
        Home
      </a>

      <a class="navbar-item" href="https://docs.draxxx.social">
        Documentation
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <form action="/auth/logout">
            <button class="button is-primary is-rounded  my-custom-button" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>