<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<html>
    <form onsubmit="submitdata(); return false";>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="roleID" class="col-form-label">Role ID:   </label>
            </div>
            <div class="col-auto">
                <% if(permissions == 0){ %>
                    <input class="input is-primary is-rounded" type="text" id="roleID" name="RoleID" required><br>
                  <% } else{ %>  
                    <input class="input is-primary is-rounded" type="text" id="roleID" name="RoleID" required disabled><br>
                 <% } %>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="permissions" class="col-form-label">Role Permissions:   </label>
            </div>
            <div class="col-auto">
                <% if(permissions == 0){ %>
                    <select name="permissions" id="permissions"><br>
                        <option value="administrator">Administrator</option>
                        <option value="head_moderator">Head Moderator</option>
                        <option value="moderator">Moderator</option>
                        <option value="helper">Helper</option>
                        <option value="trusted">Trusted</option>
                    </select><br>
                  <% } else{ %>  
                    <select name="permissions" id="permissions" disabled><br>
                        <option value="administrator">Administrator</option>
                        <option value="head_moderator">Head Moderator</option>
                        <option value="moderator">Moderator</option>
                        <option value="helper">Helper</option>
                        <option value="trusted">Trusted</option>
                    </select><br>
                 <% } %>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
                <% if(permissions == 0){ %>
                    <input type="submit" value="Submit">
                  <% } else{ %>  
                    <input type="submit" value="Submit", disabled>
                 <% } %>
            </div>
          </div>
    </form>
    <table>
        <style>
            table {
                border-collapse: collapse;
                width: 50%;
                left: 0px;
                margin-left: auto;
                margin-right: auto;
            }
            th, td {
            border: 1px solid;
            }
            tr:hover {background-color: coral;}
        </style>
        <script>
    
            function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
            }
    
            function generateTable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
                for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
                }
            }
            }
            const currentURL = window.location.href
            var guildid = window.location.pathname.split('/');
            const Http = new XMLHttpRequest();
            const url = `http://localhost:1337/api/role-permissions?filters[guild_id][$eq]=${guildid[1]}`
            Http.open("Get", url);
            Http.setRequestHeader("Authorization", 'bearer 822ca389f5560fec7410bd387bdac30cf87379d1608de0b400b903549af53bff5942217c08fdf0fc1ecf3f06b681e0684c1c15a7a6dd1c74533524abe31f93bcf0484c0f63861763afa589ba6750879d6c224fa4ad2f3b7787c32fe518ab6115b98bd6b44e1d0fad3f1cd68a5dafa251c0268e815b7e1c057b7573f91198ed61');
            Http.send();
            Http.onload = () => {
                if (Http.readyState === Http.DONE) {
                if (Http.status === 200) {

                const Roles = []
                    var response = JSON.parse(Http.responseText);
                    var Array = response.data;
                    for (let i = 0; i < Array.length; i++){
                        switch (Array[i].attributes.permissionId) {
                            case 1:
                                permission = "Administrator";
                                break;
                            case 2:
                                permission = "Head Moderator";
                                break;
                            case 3:
                                permission = "Moderator"
                                break;
                            case 4:
                                permission = "Helper";
                                break;
                            case 5:
                                permission = "Trusted";
                                break;
                            default:
                                permission = "None";
                                break;
                        };
                        var role = {
                            "ID": Array[i].id,
                            "Role ID": Array[i].attributes.roleId,
                            //"discord_tag": Array[i].attributes.discord_tag,
                            "Permissions": permission,
                            //"infractions": Array[i].attributes.infractions,
                            //"moderator_id": Array[i].attributes.moderator_id,
                            //"moderator_tag": Array[i].attributes.moderator_tag,
                            //"reason": Array[i].attributes.reason,
                            //"guild_id": Array[i].attributes.guild_id,
                        }
                        
                        Roles.push(role);
                    }
                    let table = document.querySelector("table");
                    let data = Object.keys(Roles[0]);
                    generateTable(table, Roles);
                    generateTableHead(table, data);
                }}
            }; 
    
        </script>
    </table>
    <script>
        async function submitdata(){
            const roleID = document.getElementById("roleID").value
            var permissions = document.getElementById("permissions").value
            if(permissions == 'administrator'){
                permissions = 1
            }
            else if(permissions == 'head_moderator'){
                permissions = 2
            }
            else if(permissions == 'moderator'){
                permissions = 3
            }
            else if(permissions == 'helper'){
                permissions = 4
            }
            else if(permissions == 'trusted'){
                permissions = 5
            }
            const Http = new XMLHttpRequest();
            var guildid = (window.location.pathname.split('/'))[1];
            const geturl = `http://localhost:1337/api/role-permissions?filters[guild_id][$eq]=${guildid}&filters[roleId][$eq]=${roleID}`
            await Http.open("Get", geturl);
            Http.setRequestHeader("Authorization", 'bearer 822ca389f5560fec7410bd387bdac30cf87379d1608de0b400b903549af53bff5942217c08fdf0fc1ecf3f06b681e0684c1c15a7a6dd1c74533524abe31f93bcf0484c0f63861763afa589ba6750879d6c224fa4ad2f3b7787c32fe518ab6115b98bd6b44e1d0fad3f1cd68a5dafa251c0268e815b7e1c057b7573f91198ed61');
            Http.setRequestHeader("Content-type", "application/json");
            await Http.send();
            Http.onload = () => {
                if (Http.readyState === Http.DONE) {
                if (Http.status === 200) {
                    var response = JSON.parse(Http.responseText);
                    console.log(response.data.length)
                    if(response.data.length > 0){
                        return alert('This role already has permissions set, please use the edit button to change the permissions')
                    } else {
                        const posturl = `http://localhost:1337/api/role-permissions`
                        Http.open("Post", posturl);
                        Http.setRequestHeader("Authorization", 'bearer 822ca389f5560fec7410bd387bdac30cf87379d1608de0b400b903549af53bff5942217c08fdf0fc1ecf3f06b681e0684c1c15a7a6dd1c74533524abe31f93bcf0484c0f63861763afa589ba6750879d6c224fa4ad2f3b7787c32fe518ab6115b98bd6b44e1d0fad3f1cd68a5dafa251c0268e815b7e1c057b7573f91198ed61');
                        Http.setRequestHeader("Content-type", "application/json");
                        const data = `
                        {
                            "data": {
                            "guildId": "${guildid}", 
                            "roleId": "${roleID}", 
                            "permissionId": ${permissions}
                            }
                        }
                        `   
                        console.log(data)
                        Http.send(data);
                        Http.onload = () => {
                            if (Http.readyState === Http.DONE) {
                                if (Http.status === 200) {
                                    var response = JSON.parse(Http.responseText);
                                    console.log(response)
                                }
                            }
                        };
                    }
                }
                }
            };
            return false;
        }
    </script>
</html>
<%- include('partials/footer') -%>