<%- include('partials/header') -%>
<nav class="navbar navbar-expand-lg bg-body-black" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sailboat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/features">Features</a>
        <a class="nav-link" href="/pricing">Pricing</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </div>
    </div>
  </div>
</nav>
<div class="splash">
  <div id="error"></div>
  <div class="wrapper">
    <div class="logo-column">
      <img class="logo" src="https://cdn.discordapp.com/attachments/958389316218929152/1212368433463955487/image.png?ex=65f19517&is=65df2017&hm=78a72abe6ea0644811824d91e8d2425c000883b287c0e148a3e3ce0187a8d5a6&" alt="exis Logo" />
    </div>
    <div class="info-column">
      <h1>Sailboat</h1>
      <div class="description">
        Sailboat is a private moderation bot for Discord, designed with large servers and reliability in mind.
      </div>
      <div class="actions">
        <a class="btn" href="/auth">Dashboard</a>
      </div>
      <div>
        <a class="btn" href="/docs">Documentation</a>
      </div>
      <div>
        <a class="btn" href="/pricing">Premium</a>
      </div>
      <div>
        <a  class="btn" href="https://github.com/Draxxx-xoxo/Sailboat">GitHub</a>
      </div>
      <div>
        <a  class="btn"href="https://discord.gg/GpFaE2AGZc">Discord</a>
      </div>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>