<!DOCTYPE html>
<html>
    <head>
        <title>Pricing Table</title>
        <link rel="stylesheet" href="/stylesheets/pricing.css">
    </head>
    <body>
        <div>
            <h1>Preminum Pricing Table</h1>
            <p>Choose a plan that works for you</p>
        </div>
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table pricing-table-id="prctbl_1NEwidLnMj624vaRgEcEeD2v" publishable-key="pk_test_PxpqcNp1PJfkQRo7RmTvSYVZ00PlBjJDPm" customer-email="<%= email %>"> </stripe-pricing-table>
    </body>
</html>